{% extends 'tours/base.html' %}

{% block title %}Tours in Category {{ category }}{% endblock %}

{% block content %}
    <h1 class="mb-4">Tours in {{ category }}</h1>
    {% if tour %}
        <div class="row">
            {% for t in tour %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ t.featured_image.url }}" class="card-img-top" alt="{{ t.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ t.title }}</h5>
                            <a href="{% url 'tour_detail' t.title %}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No tours found in this category.</p>
    {% endif %}
{% endblock %}